/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html {
  background-image: url('horoscopesmall.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}
 h3, h1{
  text-shadow: 2px 2px #900;
  text-align: center;
  margin: 40px;
  color: black;
  font-size: 40pt;
  font-family: 'Eczar', serif;
}
body {
  margin: 50px;
  text-align: center;
  opacity: 0.8;
  padding-bottom: 5px;
}
form {
  font-size: larger;
  margin: 55px;
}
input {
  padding: 3px ;
  color: #FFF;
  background-color: #900;
  font-weight: bold;
}
label {
  font-size: larger;
  color: black;
  font-family: 'Eczar', serif;
}
div {
  margin: 30px;
  background-color: #ffffff;
}

div.details {
  font-size: x-large;
  font-family: 'Smythe', cursive;
  color: black;
  margin: 50px;
  padding-bottom: 20px;
  border: 2px solid black;
}

